header .topPad {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--theme-white);
  text-align: right;
  padding: 0.75rem;
  background-color: var(--theme-main-color);
}

header .topPad div,
header .topPad p,
header .topPad a {
  width: 100%;
  margin: 0;
}

nav {
  background-color: var(--theme-white);
  border: 0.5px solid var(--theme-grey);
  padding: 0 !important;
}

nav img {
  height: 3rem;
}

nav #register {
  font-weight: 750;
  font-size: larger;
  color: var(--theme-main-color);
}
nav #karo {
  font-weight: 750;
  font-size: larger;
  color: var(--theme-orange);
}

/* ======== Media Query ========= */
@media (max-width: 768px) {
  header .topPad {
    display: none;
  }
}
@media (max-width: 426px) {
  header .topPad {
    font-size: 0.5rem;
  }

}
