header .topPad {
  color: var(--theme-white);
  background-color: var(--theme-main-color);
}

header .topPad ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header .topPad ul li p {
  margin: 0;
  padding: 0.75rem;
}

nav {
  background-color: var(--theme-white);
  border: 0.5px solid var(--theme-grey);
  padding: 0 !important;
}

nav img {
  height: 3rem;
}

nav #register {
  font-weight: 750;
  font-size: larger;
  color: var(--theme-main-color);
}

nav #karo {
  font-weight: 750;
  font-size: larger;
  color: var(--theme-orange);
}

/* ======== Media Query ========= */
@media (max-width: 426px) {
  header .topPad {
    font-size: 0.5rem;
    display: none;
  }
}
