.homePage .main {
  position: relative;
  padding: 2rem 0 2rem 4rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.75) 0%,
    rgba(242, 228, 67, 0.75) 27%,
    rgba(184, 181, 242, 0.7540266106442577) 51%,
    rgba(216, 216, 217, 0.75) 68%
  );
}
.homePage .main div h1 {
  margin: 1rem 0;
  font-size: 3.5rem;
  width: 50%;
}
.homePage .main div p {
  font-size: 1.5rem;
  width: 50%;
  color: var(--theme-light-black);
}
.homePage .main span > span:first-child {
  font-size: 3rem;
}
.homePage .main span > span > span:first-child {
  font-size: 1.5rem;
  font-weight: bolder;
}
.homePage .main span > span > span:last-child {
  font-size: 0.75rem;
  font-weight: bolder;
}
.homePage .main-sidePlates {
  position: absolute;
  top: 20%;
  right: 0;
}
.homePage .main-sidePlates ul li {
  background-color: var(--theme-white-transparent);
  width: 15rem;
  padding: 1rem;
  margin: 2rem 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  text-align: center;
  box-shadow: 4px 2px 4px;
}
.homePage .main-bottom {
  padding: 3rem 1rem;
}
.homePage .main-bottom img {
  width: 5rem;
  padding: 2rem;
  margin: 1rem;
  box-sizing: content-box;
  transform: scale(1.75);
}

/* ========== Media Query ============== */

@media (max-width: 769px) {
  .homePage .main div h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
    width: 50%;
  }
  .homePage .main div p {
    font-size: 1rem;
    width: 50%;
    color: var(--theme-light-black);
  }
  .homePage .main span > span:first-child {
    font-size: 2rem;
  }
  .homePage .main span > span > span:first-child {
    font-size: 1rem;
  }
  .homePage .main span > span > span:last-child {
    font-size: 0.5rem;
  }
  .homePage .main-sidePlates {
  top: 31.5%;
}
  .homePage .main-sidePlates ul li {
    width: 10rem;
    font-size: smaller;
    padding: 0.5rem;
    margin: 1rem 0;
    text-align: right;
  }
}

@media (max-width: 426px) {
  .homePage .main{
    padding: 2rem 1rem;
  }
}
